.video {
  display: flex;
  align-items: center;
  border: 1px solid grey;
  transition: transform 250ms ease-in;
  width: 50%;
  cursor: pointer;
}

.video:hover {
  transform: scale(1.01);
}

.thumbnail {
  width: 40%;
}

.video_description {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1rem;
}

.channel {
  font-size: 0.9rem;
}
